// 布局
@import "mixins/cards";
@import "mixins";

.g-wrap {
  max-width: 940px;
}

.g-header {
  background-color: rgba(255, 255, 255, .25);
  height: 60px;
  padding: 10px 60px;
  z-index: 2;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  > ul {
    display: block;
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: 200px;
    top: 10px;
    height: 40px;
    line-height: 40px;
    margin: 0 250px 0 0;
    li {
      display: inline-block;
      position: relative;
      margin: 0 0.6em;
    }

    a {
      color: #333;
      font-weight: 600;
    }
  }

  .search-content {
    overflow: scroll;
    max-height: 600px;
    ul, li {
      padding: 0;
    }
  }
}

.g-sidebar {
  @include shadow-card;
  margin: 1em 0 0 0;

  //max-width: 250px;
  // 这一行比较神器
  width: inherit;
  position: fixed;
  overflow: scroll;
  max-height: 800px;
  .menu-root {
    color: #7f8c8d;

    ul, li {
      margin-top: 0;
      margin-bottom: 0;
      color: #7f8c8d;
      a {
        color: #7f8c8d;
      }
      line-height: 1.5em;
    }

    h3 {
      font-size: 1.2em;
    }
  }
}

.card {
  em {
    background: #37b24d;
    color: #fff;
  }
}

.p-article-post {
  margin-top: 4.5em;
  * {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  }
  .markdownIt-TOC {
    line-height: 0.8em;
    margin-left: 0;
    > li {
      font-size: 14px;
      margin-top: 1px;
      line-height: 1em;

    }

    ul {
      padding-top: 0;
      padding-bottom: 0;
      margin: 0 0 0 0.6rem;
      li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.g-article {
  @include shadow-card;
  padding: 2.2em 50px 2.2em 50px;
  color: #555;

  ul, ol {
    list-style-type: disc;
    margin: 0 0 0 0.6rem;
  }

  li {
    //list-style-type: circle;
    margin: 0 0 0 0.6rem;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.6em;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.3em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1.1em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5em;
    margin-top: .5em;
  }

  p {
    margin: 10px 0 10px 0;
  }

  blockquote {
    p {
      margin: 0 0 0 0;
    }
  }

  figure {
    overflow: auto;
  }

  pre {
    line-height: 1.5em;
    margin: 10px 0 10px 0;
    font-size: 0.8em;
    background-color: #f8f8f8;
    code {
      font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
    }
  }

  .posts-expand {
    .post-title {
      text-align: center;
      margin: 0 0 1em;
    }
    .post-meta {
      margin: 3px 0 30px 0;
      color: #999;
      font-size: 13px;
      text-align: center;
      .post-wordcount {
        display: inline-block;
      }
    }
  }
  .post-body {
    ul {
      display: block;
      list-style-type: disc;
    }

    li {
      list-style: circle;
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    img {
      width: 100%;
    }
    table {
      margin: 20px 0;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #ddd;
      font-size: 14px;
      table-layout: fixed;
      td {
        border-bottom-width: 1px;
      }

      th, td {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #eee;
        padding: 8px;
        text-align: left;
        vertical-align: middle;
        font-weight: normal;
      }
    }

    table > tbody > tr:nth-of-type(odd) {
      background-color: #f9f9f9;
    }

  }
  .post-footer {
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .05);
  }
}

.g-content {
}

.g-holygrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .g-holygrail__body {
    display: flex;
    flex: 1;
    .g-holygrail__content {
      flex: 1;
    }
    @media screen and (min-width: 1280px) {
      .g-holygrail__nav,
      .g-holygrail__ads {
        flex: 0 0 10em;
      }
    }

    @media screen and (min-width: 960px) and (max-width: 1024px) {
      .g-holygrail__nav,
      .g-holygrail__ads {
        flex: 0 0 8em;
      }
    }

    @media screen and (min-width: 960px) and (max-width: 1280px) {
      .g-holygrail__nav,
      .g-holygrail__ads {
        flex: 0 0 6em;
      }
    }

    @media screen and (min-width: 600px) and (max-width: 960px) {

      .g-holygrail__nav,
      .g-holygrail__ads {
        /* 12em is the width of the columns */
        flex: 0 0 1em;
      }
    }

    .g-holygrail__nav {
      /* put the nav on the left */
      order: -1;
    }
  }
}

.g-article-row {
  width: 100%;
  background: #FFF;
  border-radius: 0.4rem;
  padding: 0.9rem;
  margin: 1rem;
  @include shadow-card;
  .h3 {
    color: #555;
    padding-left: 10px;
  }
}

.m-profile-card {
  @include shadow-card;
  .m-profile-avatar {
    display: block;
    border-radius: 0.4rem;
    width: 100%;
  }

  .m-profile-name {
    color: #444;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3.5rem;
  }

  .m-profile-introduction {
    text-align: center;
    color: #555;
    font-size: 0.9rem;
  }

  .m-profile-social {
    text-align: center;
    line-height: 3.5rem;
    .iconfont {
      font-size: 1.4rem;
      color: #555;
    }

    a {
      margin: 0 0.3rem;
    }

  }

}

.m-tags-card,
.m-category-card {
  @include shadow-card;
  ul {
    margin-left: 0;
    li {
      margin-top: 0.1rem;
    }
  }

  span {
    font-size: 14px;
  }
}

.m-tags-card {
  span {
    font-size: 12px;
  }
}

.m-simple-card {
  @include shadow-card;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.article-suggestions-wrapper {
  .article-suggestions-title {
    font-weight: 500;
    background: #DDDDDD;
  }

  .article-suggestions-content {
    font-weight: 300;
    //@include text-truncate;
  }
  background: #EEEEEE;
  margin-bottom: 10px;
  &:hover,
  &:focus {
    background: #E0E0E0;
    cursor: pointer;
  }
}

// 状态
.s-current {
}

.s-selected {
}

// 工具
.u-gutter {
  margin: 0 3px 0 3px;
}

.u-gutter-left {
  margin-left: 3px;
}

.u-gutter-right {
  margin-right: 3px;
}

.u-clearfix {
}

.u-ellipsis {
}

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-border-right {
  border-right: 1px solid #cac6c6;
}

// 组件
.m-avatar {
  padding: 10px;
  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}

.m-value {
  font-size: 15px;
}

.m-label {
  display: inline-block;
  width: 100px;
  margin-right: 35px;
  font-weight: 600;
  font-size: 15px;
}

.m-slider {
}

.m-dropMenu {
}

.m-search-form {
  position: absolute;
  font-size: 14px;
  display: inline-block;
  width: 300px;
  right: 163px;
  input {
    //background: #fff none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 1;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    &:hover {
      outline: none;
      border-color: #aeee15;
    }

  }
  em {
    background: #37b24d;
    color: #fff;
  }
}

.search-content {
  @include shadow-card;
  margin: 0;
  padding: 0;
}

.keywords-suggestions,
.article-suggestions {
  ul {
    display: block;
    margin-left: 0;
    margin-bottom: 0;
  }
  li {
    display: inline-block;
    margin: 1px 5px 1px 0;
    width: 100%;
  }

}

// 钩子
.j-request {
}

.j-open {
}

