@import 'common/var';

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  height: 100%;
  width: 100%;
}

a {
  &:focus,
  &:hover,
  &:active,
  &.active {
    text-decoration: none;
    box-shadow: 0 0 0 0;
  }
}

ul, ol, li {
  list-style-type: none;
  margin: 0;
}
